*
{
    margin: 0;
    padding: 0;
    background-color: cornflowerblue;
}
body
{
    font-family: "맑은고딕" ,"돋움";
    font-size: 12px;
    color: white;
}
ul
{
    list-style-type: none;
}
.clear
{
    clear: both;
}
#wrap
{
    width: 970px;
}