header
{
    height: 0px;
}
header #logo
{
    top : 0px;
    left: 0px;
    height: 25px;
}
header #sub_menu
{
    top : 0px;
    left: 0px;
}
header #sub_menu li
{
    display: inline-block;
    text-align: center;
    height: 25px;
    margin: 0;
    padding: 0;
}
header #sub_menu img
{
    height: 25px;
}
header #sub_menu_right
{
    top: 0;
    left: 0;
    height: 25px;
    float: right;
}